body{
    margin:5%;
}
.navBar{
    margin-bottom: 40px;
}

.NewItemForm{
    padding: 10px 20px;
    border: 1px solid black;
    width:auto;
  }
  
  input, button{
    padding:5px;
  }

  span{
    cursor: pointer;
  }

  .listagem table, .listagem td, .listagem th {
    border: 1px solid gray;
  }
  .listagem td, .listagem th {
   padding: 5px;
  }
  .listagem table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  .listagem th{
    background-color: rgb(227, 227, 227);
  }


